.err {
    font-size: small;
    color: red;
}

.asterisk {
    font-size: small;
    color: red;
}

.sizeTable {
    max-height: 200px;
    display: block;
    
    overflow-y: scroll
}

thead {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}