.err {
    font-size: small;
    color: red;
}

.asterisk {
    font-size: small;
    color: red;
}



thead {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.btMargin {
    margin-top: 40px;
}

.full-width {
    width: 100%;
}
